header {
  min-height: 100vh;
  background: linear-gradient(240deg, #85DCBA, #41B3A3);
  color: #ffffff;
  font-family: "Avenir Next", serif, sans-serif;
  position: relative;
  z-index: -1;
  overflow-y: hidden;
}

h3 {
  font-weight: normal;
}

.cocktailContainer {
  top: 50%;
  left: 35%;
  transform: translate(-30%, -50%);
  position: absolute;
}
.cocktailContainer h1 {
  font-size: 60px;
  margin-bottom: 10px;
}
.cocktailContainer h3 {
  font-size: 35px;
}

.smallCocktail {
  height: 200px;
  position: absolute;
  top: 70%;
  right: 10%;
}

.mediumCocktail {
  height: 300px;
  position: absolute;
  top: 35%;
  left: 6%;
}

.largeCocktail {
  height: 400px;
  position: absolute;
  top: 5%;
  right: 20%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: block;
  text-align: center;
  min-height: 4vh;
  position: fixed;
  z-index: 1;
  width: 59%;
}

a {
  text-decoration: none;
  color: #a4fad3;
  font-family: "Avenir Next", serif, sans-serif;
  font-size: 1.8rem;
  transition: all 0.2s ease-in-out;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 5% 0 0 40%;
}

li a:hover {
  font-size: 1.9rem;
  color: white;
}

p {
  width: 60%;
  font-size: 45px;
  font-family: "Avenir Next", serif, sans-serif;
  text-align: center;
}
p span {
  transition: all 0.3s ease-in-out;
}
p span:hover {
  color: white;
  font-size: 46px;
  cursor: default;
}
p a {
  font-size: 45px;
}
p a:hover {
  font-size: 46px;
  cursor: pointer;
  color: #E27D60;
  font-weight: bolder;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  min-height: 100vh;
  color: #a4fad3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #41B3A3;
}

.container {
  background-color: white;
  width: 35%;
  padding: 20% 0 20% 0;
  margin: 10%;
  border-radius: 25px;
}

.cardList {
  display: flex;
  padding: 3rem;
  overflow-x: hidden;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 350px;
  width: 400px;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 16px;
  background-color: white;
  box-shadow: -1rem 0 3rem #5f5f5f;
  transition: 0.2s;
}

.randomCocktails {
  position: absolute;
  font-family: "Avenir Next", serif, sans-serif;
  z-index: 50;
  font-size: 36px;
  font-weight: normal;
  padding-bottom: 500px;
  color: white;
}
.randomCocktails a {
  font-family: "Avenir Next", serif, sans-serif;
  font-size: 36px;
  font-weight: normal;
  color: white;
  text-decoration: underline;
}
.randomCocktails a:hover {
  font-size: 38px;
  text-decoration: none;
}

.category {
  color: rgba(27, 27, 155, 0.7);
  font-size: 14px;
  text-align: left;
}

.category:hover {
  color: #1b1b9b;
  cursor: pointer;
}

.cocktailName {
  font-family: "Avenir Next", serif, sans-serif;
  color: #e27d60;
  font-size: 20px;
  text-align: left;
}

.cocktailInstructions {
  color: #000;
  text-align: left;
  font-size: 15px;
  padding: 15px 0 0 0;
}

.tags {
  position: absolute;
  line-height: 2;
  bottom: 0;
  padding: 0 20% 12% 20%;
}

.tags a {
  font-style: normal;
  font-weight: 700;
  color: #1b1b9b;
  text-transform: uppercase;
  font-size: 0.66rem;
  border: 3px solid #28242f;
  border-radius: 2rem;
  padding: 0.2rem 0.85rem 0.25rem;
  position: relative;
}

.tags a:hover {
  background: linear-gradient(90deg, #e27d60, #e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  background-clip: text;
  border-color: white;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-1rem);
}

.card:hover ~ .card {
  transform: translateX(130px);
}

.card:not(:first-child) {
  margin-left: -130px;
}

.card:focus-within ~ .card, .card:hover ~ .card {
  transform: translateX(130px);
}

/*# sourceMappingURL=styles.css.map */
